@if (isLoading()) {
  <p class="text-indigo-600">Loading order data...</p>
} 

@else if (error()) {
  <p class="text-red-600">{{ error() }}</p>
  <button (click)="router.navigate(['/'])" class="mt-4 text-blue-500">Go Home</button>
}

@else if (orderData()) {
  <form 
    [formGroup]="updateOrderForm" 
    (ngSubmit)="onSubmit()" 
    class="bg-gray-100 flex flex-col gap-2 p-8 border-gray-200 border-solid border max-w-96 rounded-xl shadow-2xl mt-10 mx-auto"
  >
    <!-- Product field field -->
    <div class="flex flex-col gap-1">
      <label class="min-w-20 inline-block font-semibold text-gray-500 uppercase tracking-wider text-xs" for="product">Product</label>
      <input
        class="rounded p-1 border border-solid border-gray-200"
        id="product"
        name="product"
        type="text"
        formControlName="product"
        required
      />
  
      <span class="text-xs text-red-600 h-4">
        @if (isInvalid('product')) {
          @if (productControl.hasError('required')) { 
            Product is required. 
          } 
        }
      </span>
    </div>
  
    <!-- Total amount field -->
    <div class="flex flex-col gap-1">
      <label class="min-w-20 inline-block font-semibold text-gray-500 uppercase tracking-wider text-xs">Total amount</label>
      <input
        class="rounded p-1 border border-solid border-gray-200"
        id="total-amount"
        name="total-amount"
        type="number"
        formControlName="totalAmount"
        required
      />
  
      <span class="text-xs text-red-600 h-4">
        @if (isInvalid('totalAmount')) {
          @if (totalAmountControl.hasError('required')) { 
            Total amount is required. 
          } 
        }
      </span>
    </div>
  
    <!-- Status field -->
    <div class="flex flex-col gap-1">
      <label class="min-w-20 inline-block font-semibold text-gray-500 uppercase tracking-wider text-xs" for="status">Status</label>
      <select 
        class="rounded p-1 border border-solid border-gray-200"
        id="status" 
        name="status" 
        formControlName="status"
      >
        @for (status of statusOptions; track status.id) {
          <option [ngValue]="status.value">
              {{ status.text }}
          </option>
        }
      </select>
  
      <span class="text-xs text-red-600 h-4">
        @if (isInvalid('status')) {
          @if (statusControl.hasError('required')) { 
            Status is required. 
          } 
        }
      </span>
    </div>
  
    <!-- Submit button -->
    <button 
      type="button" 
      (click)="onSubmit()" 
      class="bg-white border-gray-200 border-solid border p-1 rounded hover:bg-gray-50 active:bg-gray-100 font-semibold"
    >
      Update Order
    </button>
  
    <!-- Submission Message -->
    @if (submissionMessage()) {
      <div
        class="mt-6 p-4 rounded-lg bg-blue-50 border border-blue-200 text-blue-800 text-sm font-semibold"
      >
        {{ submissionMessage() }}
      </div>
    }
  </form>
}


